<div class = "container">
    <mat-card class="card">
        <mat-card-header>
            <div class = "center">FOLLOW REQUESTS</div> 
        </mat-card-header>
        <br>
        <mat-divider></mat-divider>
        <br>

        <div>
            <!--<div *ngFor=""> -->
              <mat-card class="card1">
                  <div>
                      Request 
                      <button mat-raised-button   color="primary">Accept</button>
                      <button mat-raised-button   color="primary">Deny</button>
                  </div>
              </mat-card>
              <br>
           <!-- </div>-->
        </div>
    </mat-card>
</div>    