<div class = "container">
    <mat-card class="card">
        <mat-card-header>
        </mat-card-header>
        <div class = "center"><b>FOLLOW REQUESTS</b></div> 
        <br>
        <mat-divider></mat-divider>
        <br>

        <div>
            <div *ngFor="let user of users">
              <mat-card class="card1">
                  <div class = "center">
                      <p class="text">{{user}}</p>
                      <button mat-raised-button class = "button1"  color="primary" (click)="accept(user)">Accept</button>
                      <button mat-raised-button class = "button2"  color="primary" (click)="deny(user)">Deny</button>
                      
                  </div>
              </mat-card>
              <br>
            </div>
        </div>
    </mat-card>
</div>    