<div class = "container">
  <div *ngIf="logged"> 
    <mat-card class="card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{user.username}}</mat-card-title> 
            
            <div *ngIf="!myPage.follow; else drugo ">

                <div *ngIf="following.follow; else elseBl">
                  <button mat-raised-button class="button1" color="primary">Following</button>
                </div> 
                <div class= "center"><ng-template #elseBl >
                  <div *ngIf="request.follow; else elseBlo">
                    <button mat-raised-button class="button1" color="primary" disabled>Follow request sent</button>
                  </div> 
                <div class= "center"><ng-template #elseBlo >       
                  <button mat-raised-button class="button1" (click)="follow(user.username)" color="primary">Follow</button>
                </ng-template></div>
                </ng-template></div>
                <button mat-raised-button class="button2"  color="primary"><a  href="#" [routerLink]="['report']" style="text-decoration:none; color: white;" >Report</a></button>
            </div>
            <div class= "center"><ng-template #drugo >
              <button mat-raised-button class="button1"  color="primary">Upload</button>
              
            </ng-template></div>
      <!--   <button mat-raised-button class="button1"  color="primary">Report</button> -->  
          
        <!--<button mat-raised-button disabled>Following</button>
            <button mat-raised-button disabled>Requested</button> -->
        </mat-card-header>
        <div class= "center">biografija</div>
        <br>
        <mat-divider></mat-divider>
        <br>
        <!--<div class= "center"><b>This profile is private</b></div>
        <div class= "center">Follow to see their photos and videos.</div> -->

        <div *ngIf="checkPrivacy() && !following.follow; else elseB">
          <div class= "center"><b>This profile is private</b></div>
          <div class= "center">Follow to see their photos and videos.</div>
        </div>

        <div><ng-template #elseB >
          <div *ngIf="post.length>0; else elseBlock">
            <div *ngFor="let posts of post">
              <mat-card class="card1">
                  <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>{{posts.username}}</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
                    <mat-card-content>
                      <p>
                        {{posts.caption}}
                      </p>
                      <div *ngFor="let hashtag of posts.hashtags">
                        <p>{{hashtag }}</p>
                      </div>
                    </mat-card-content>
                    <mat-card-actions>
                      {{posts.likes.length}}
                      <button mat-raised-button color="primary">Like</button>
                      <button mat-raised-button>Comment</button>
                    </mat-card-actions>
                    <mat-divider></mat-divider>
                    <br>
                    <div>{{posts.created |  date: 'dd/MM/yyyy'}} at {{posts.location}}</div>
              </mat-card>
              <br>
            </div>
        </div>
        <div class= "center"><ng-template #elseBlock ><div class="center">User has no photos</div></ng-template></div>
        </ng-template></div>
    </mat-card>
  <!--</div> -->

    
  </div>
  <div *ngIf="!logged"> 
    <mat-card class="card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{user.username}}</mat-card-title> 
            
           
          
        
        </mat-card-header>
        <div class= "center">biografija</div>
        <br>
        <mat-divider></mat-divider>
        <br>

        
          <div *ngIf="post.length>0; else elseBlock">
            <div *ngFor="let posts of post">
              <mat-card class="card1">
                  <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>{{posts.username}}</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
                    <mat-card-content>
                      <p>
                        {{posts.caption}}
                      </p>
                      <div *ngFor="let hashtag of posts.hashtags">
                        <p>{{hashtag }}</p>
                      </div>
                    </mat-card-content>
                    <mat-card-actions>
                      {{posts.likes.length}}
                      <button mat-raised-button color="primary">Like</button>
                      <button mat-raised-button>Comment</button>
                    </mat-card-actions>
                    <mat-divider></mat-divider>
                    <br>
                    <div>{{posts.created |  date: 'dd/MM/yyyy'}} at {{posts.location}}</div>
              </mat-card>
              <br>
            </div>
        </div>
        <div class= "center"><ng-template #elseBlock ><div class="center">You have no photos</div></ng-template></div>
    </mat-card>
  <!--</div> -->

    
  </div>
  
</div>    