<div class = "container">
    <mat-card class="card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Ime profila</mat-card-title> 
            <button mat-raised-button class="button1" color="primary">Follow</button>
        <!--<button mat-raised-button disabled>Following</button>
            <button mat-raised-button disabled>Requested</button> -->
        </mat-card-header>
        <div class= "center">Opis profila</div>
        <br>
        <div>
            <button mat-raised-button class= "center" color="primary">Add picture</button>
            <button mat-raised-button class= "center" color="primary">Add story</button>
        </div>
        <mat-divider></mat-divider>
        <br>
        <div class= "center"><b>This profile is private</b></div>
        <div class= "center">Follow to see their photos and videos.</div>

        <mat-card class="card1">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Ime profila</mat-card-title>
              </mat-card-header>
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p>
                  Opis slike
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-raised-button color="primary">Like</button>
                <button mat-raised-button>Comment</button>
              </mat-card-actions>
              <mat-divider></mat-divider>
              <br>
              <div>datum</div>
        </mat-card>
    </mat-card>
</div>    