<div class = "container">
        
        <br>
    <div *ngFor="let post of getPost">
      <a href="#" [routerLink]="['post-page', post.id]" style="text-decoration:none">
        <mat-card class="card1" >
            <mat-card-header>
                <div mat-card-avatar class="example-header-image">{{post.id}}</div>
                <mat-card-title  name="username" >{{post.username}}</mat-card-title>
                <mat-card-subtitle>{{post.location}}</mat-card-subtitle>
              </mat-card-header>
              
                <img *ngIf="post.mediaUrls[0].endsWith('.png') || post.mediaUrls[0].endsWith('.jpg')" mat-card-image  src="{{post.mediaUrls[0]}}" alt="Photo of a Shiba Inu">
      
                <video crossorigin="anonymous" *ngIf="post.mediaUrls[0].endsWith('.mp4')" width="500" height="500" controls>
                  <source src="{{post.mediaUrls[0]}}" type="video/mp4">
                  
                Your browser does not support the video tag.
                </video>
              
              <mat-card-content>
                <p name="desc" >
                  {{post.description}}
                </p>
              </mat-card-content>
              <mat-card-actions>
                
              
              </mat-card-actions>
              
              <mat-divider></mat-divider>
              <br>
              <span *ngFor="let tag of post.hashtags">#{{tag}}&nbsp;</span><br>
              <span>{{post.date | date:'short'}}</span>
              
        </mat-card>
      </a>
        <br>

    </div>

 
</div>    