.example-form-field{
    width: 75%;
}

::ng-deep .mat-line{
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
  }

::ng-deep  .mat-list .mat-list-item{
    height:initial!important;
  }

  .post{
    max-width: 70%;
    margin: auto;
}
.date{
    font-size:12px;
    padding-top: 5px;
    font-weight: 500;

}