<header>
    <div class="header">
      <a routerLink="/" class="logo">Nistagram</a>
      <nav>
        <ul>
          <li><a href="#" routerLink="/admin/feed">Feed</a></li>
          <li><a href="#" routerLink="/admin/search">Search</a></li>
          <li><a href="#" routerLink="/admin/my-collections">Collections</a></li>
          <li><a href="#" routerLink="/admin/review-requests">Review requests</a></li>
          <li><a href="#" (click)="logOut()">Logout</a></li>
          
          
        </ul>
      </nav>
    </div>
  </header>
  <div class="container">
    <router-outlet></router-outlet>
  </div>  