<div class="formBox">
    <h1><b>Forgot password</b></h1>
    <form [formGroup]="myForm" autocomplete="off" #f="ngForm">
        <hr>
        <p>Enter your e-mail address and we'll send you a link to reset your password.</p>
        <mat-form-field>
            <input matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="myForm.controls['email'].hasError('email')">
                Email not valid!
            </mat-error >
            <mat-error *ngIf="myForm.controls['email'].hasError('required')">
                Email is required!

            </mat-error>
        </mat-form-field>
        <br>
        <button mat-raised-button [disabled]="myForm.invalid" (click)="sendResetEmail()">Reset Password</button>
        <br>
    </form>
</div>