<div class="formBox">
    <h1><b>Reset password !</b></h1>
    <form [formGroup]="resetForm" autocomplete="off">
        <hr>
        <mat-form-field>
            <input matInput type="password" placeholder="Password" formControlName="password">
            <mat-error *ngIf="resetForm.get('password').errors?.passwordStrength&&(!resetForm.controls['password'].hasError('minlength'))">
                Your password must have lower case, upper case and numeric characters.
            </mat-error>
            <mat-error *ngIf="resetForm.controls['password'].hasError('minlength')&&(!resetForm.controls['password'].hasError('required'))">
                Your password must contain at least 10 characters!
            </mat-error>
            <mat-error *ngIf="resetForm.controls['password'].hasError('required')">
                Password is required!
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword">
            <mat-error *ngIf="resetForm.controls.confirmPassword.errors?.mustMatch">
            Passwords must match!
            </mat-error>
            <mat-error *ngIf="resetForm.controls['confirmPassword'].hasError('required')">
                Confirm Password is required!
            </mat-error>
        </mat-form-field>
        
        <br>
        <button mat-raised-button [disabled]="resetForm.invalid" (click)="resetPassword()">Reset password</button>

        <br>
        
    </form>
</div>

