<div class="formBox">
    <h1><b>Create Collection</b></h1>
    <form [formGroup]="collectionForm" autocomplete="off" #f="ngForm" style="text-align: left;">
        <hr>

        <mat-form-field appearance="fill" >
            <mat-label>Collection name</mat-label>
            <input matInput name="name" formControlName="name"/>
            <mat-error *ngIf="collectionForm.controls['name'].hasError('required')">
                Cannot be empty!
            </mat-error>
        </mat-form-field>
        <br>
        <mat-selection-list #list class="custom-scroll-bar" name="imageList" formControlName="imageList"> 
            <mat-list-option *ngFor="let post of posts" [value]="post.id">
                <p>{{post.id}} &nbsp;
                    <img *ngIf="post.media[0].endsWith('png') || post.media[0].endsWith('jpg')" src="{{post.media[0]}}" width="50" height="45" alt=""> 
                    <video crossorigin="anonymous" *ngIf="post.media[0].endsWith('.mp4')" width="50" height="45" controls>
                        <source src="{{post.media[0]}}" type="video/mp4">
                        
                      Your browser does not support the video tag.
                      </video>
                      {{post.date | date:'short'}}
                </p>
            </mat-list-option>     
        </mat-selection-list>
        <br>
        <button [disabled]="collectionForm.invalid" mat-raised-button color="primary" (click)="saveCollection()" style="text-align: center;">Save</button>
    </form>
</div>