<div class="formBox">
    <h1><b>Personal information</b></h1>
    <form [formGroup]="infoForm" autocomplete="off" #f="ngForm">
        <hr>
        
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" name="name" formControlName="name">
            <mat-error *ngIf="infoForm.controls['name'].hasError('required')">
                Name is required!
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username" name="username" formControlName="username">
            <mat-error *ngIf="infoForm.controls['username'].hasError('required')">
                Username is required!
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" name="email" formControlName="email">
            <mat-error *ngIf="infoForm.controls['email'].hasError('email')">
                Email not valid!
            </mat-error >
        </mat-form-field>
        <br>
        
        <mat-form-field appearance="fill">
            <mat-label>Website</mat-label>
            <input matInput placeholder="Website" name="website" formControlName="website">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Phone number</mat-label>
            <input matInput placeholder="Phone number" name="phone" formControlName="phone">
            <mat-error *ngIf="infoForm.controls['phone'].hasError('pattern')">
                Must contain 9-10 numbers!
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Bio</mat-label>
            <textarea rows="2" cols="5" matInput name="bio" formControlName="bio"></textarea>
        </mat-form-field>
        
    </form>
</div>