<div class="main">
    

<form [formGroup]="searchForm" autocomplete="off">
    <mat-form-field>
        <input type="text" matInput placeholder="Search" #search formControlName="query" (keyup.enter)="checkSelectedTab()">
    </mat-form-field>
    <br>
</form>


<mat-tab-group #tabGroup (selectedTabChange)="tabChanged($event)" width="90%">
    <mat-tab label="User">
        <ul class="search-res" *ngFor="let u of users">
            <li><a href="#">{{u.username}}</a></li>
        </ul>
    </mat-tab>
        
    <mat-tab label="Tag">
        <ul class="search-res" *ngFor="let tag of hashtags">
            <li><a [routerLink]="['tags',tag]">{{tag}}</a></li>
        </ul>
    </mat-tab>

    <mat-tab label="Location">
        <ul class="search-res" *ngFor="let location of locations">
            <li><a [routerLink]="['locations',location]">{{location}}</a></li>
        </ul>
    </mat-tab>
        
  </mat-tab-group>

</div>