<header>
    <div class="header">
      <a routerLink="/" class="logo">Nistagram</a>
      <nav>
        <ul>
          <li><a href="#" routerLink="/user/feed">Feed</a></li>
          <li><a href="#" routerLink="/user/post">Post</a></li>
          <li><a href="#" routerLink="/user/change-info">Change info</a></li>
          <li><a href="#" routerLink="/user/search">Search</a></li>
          <li><a  href="#" (click)="logOut()">Logout</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="container">
    <router-outlet></router-outlet>
  </div>  
